<div class="container">
  <h1>Посты</h1>
  <div class="buttons">
    <button class="btn" class="btn" class="btn" (click)="fetchPosts()">Принять пост</button>
    <button class="btn" (click)="fetchComments()">Получить комментарии</button>
    <button class="btn" (click)="createPost()">Создать пост</button>
    <button class="btn" (click)="getWithErrorHandling()">Обработчик ошибок</button>
    <button class="btn" (click)="getWithHeaders()"> get Headers </button>
    <button class="btn" (click)="deletePost()">Удалить пост</button>
    <button routerLink="/second">Перейти в компонент</button>
  </div>
  <router-outlet></router-outlet>
</div>