<div class="container">
  <form class="card" [formGroup]="bookF" (ngSubmit)="onSubmit()">
    <h1>Добавление книги</h1>

    <div class="form-control">
      <label>Название книги</label>
      <input type="text" placeholder="Название книги" formControlName="name">

      <div *ngIf="bookF.get('name')?.invalid && bookF.get('name')?.touched" class="validation">
        <small *ngIf="bookF.get('name')?.hasError('required')">
          Поле не может быть пустым
        </small>

        <small *ngIf="bookF.get('name')?.hasError('pattern')">
          Введите название на русском языке (без пробелов спецсимволов и цифр).
        </small>

        <small *ngIf="bookF.get('name')?.hasError('maxlength')">
          Слишком длинное (максимум 10 символов).
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Автор</label>
      <input type="text" placeholder="Автор" formControlName="author">

      <div *ngIf="bookF.get('author')?.invalid && bookF.get('author')?.touched" class="validation">
        <small *ngIf="bookF.get('author')?.hasError('required')">
          Поле не может быть пустым
        </small>

        <small *ngIf="bookF.get('author')?.hasError('pattern')">
          Введите на русском языке (без пробелов спецсимволов и цифр).
        </small>

        <small *ngIf="bookF.get('author')?.hasError('maxlength')">
          Слишком длинное (максимум 10 символов).
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="!bookF.valid">Добавить книгу</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Название книги</th>
        <th>Автор</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of box; let i = index">
        <td>{{i + 1}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
      </tr>
    </tbody>
  </table>
</div>
