<div class="buttons">
   <button class="btn" (click)="startF()">Первая</button>
   <button class="btn" (click)="startS()">Вторая</button>
   <button class="btn" (click)="stop()">Стоп</button>

 </div>
 
 <div class="container">
   <h2>Ячейка1</h2>
   <ul>
     <li *ngFor="let number of first" class="blue-text">{{ number }}</li>
   </ul>
 </div>
 
 <div class="container">
   <h2>Ячейка2</h2>
   <ul>
     <li *ngFor="let number of secondStream" class="green-text">{{ number }}</li>
   </ul>
 </div>
 